@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

    .body {

        font-family: Lato, sans-serif;
        font-weight: 300;
    }

    #logo {
        float: left;
        font-size: 280%;
        margin-left: 30px;
    }

    /* Heading and Logo */

    #menu,
    #logo {
        line-height: 75px;
    }

    #menu {
        font-size: 110%;

    }

    /* Navigation links */
    #menu li {
        float: right;
        list-style-type: none;
        margin-right: 30px;
    }

    #menu a {
        text-decoration: none;
        color: inherit;
    }

    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    .active {
        border-bottom: 1px solid #3a3a3a;
    }

    /* Home or background image styling */

    #home-image {
        height: 600px;
        width: 100%;
        background: url("../images/pexels-pixabay-289586.jpg") no-repeat center center;