@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

.body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

/* Heading and Logo */

#menu,
#logo {

    line-height: 75px;
}

#menu {
    font-size: 110%;

}

/* Navigation links */
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

/* Home or background image styling */

#home-image {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-pixabay-289586.jpg") no-repeat center center;